
*,
*:before,
*:after {
	box-sizing: inherit;
	//padding: 0;
	//margin: 0;
}

html,
body {
	font-family: serif;
}

html {}

body {

}


a {
	text-decoration: underline;
color: #040404;
}

a:visited {
  color: #040404:;
}

li {
	padding: 0;
	margin: 0;
	list-style-type: none;

}

ul {
	padding-left: 0px;
	margin-left: 0px;
}

main {
	max-width: 650px;
	padding: 5px;
	margin: 0 auto;
	box-sizing: border-box;
	min-height: 100vh !important;

}


footer {

	border-top: 2px solid #f6f6f6;
	max-width: 650px;
	margin: 0 auto;
}


.content {
	word-wrap: break-word;
}

.breadcrumbs {
	width: 100% !important;
	background: transparent !important;
	direction: ltr;
	border-left: 0px;
	padding: 0px;

}

.breadcrumbs li {
	display: inline;
	white-space: nowrap;
}

.breadcrumbs a {
}


.breadcrumbs li+li:before {
	content: " » " !important;
}


.post-footer ul li {
	display: inline;


}

.post-footer ul li::before {
	content: "#"
}


.ltr {
	direction: ltr !important;

}


.post-tags {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	padding-left: 0px;
	margin-top: 0px;
	border-top: 2px solid #040404;
	border-bottom: 2px solid #040404;
	padding: 5px;
}

.post-tags a {
	text-decoration: underline;

}

input#search {
    all: unset;
    color: #040404;
    border: 2px solid #040404;
    height: 2.5rem;
    text-align: left;
    display: block;
    width: 100%;
    padding-left: 1%;
}

@media screen and (max-width: 450px) {
	input#search {
		width: 100%;
	}

}


.search {
  position: relative;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      display: flex;
      text-align: left;


}



/**The main post **/

img {
	margin: auto;
	max-width: 600px !important;
}






.inner {
 padding: 0px !important;
}
/**.triangle {
	background-image: url('/images/pal2.svg');
	background-size: cover;
	min-height: 75px;
	height: 75px;

} **/

.black,
.black a {
	text-align: center;
	color: #040404;
}

.meta {
	display: inline-block !important;
	color: #444;
	font-size: 12px;
}

.meta + .meta::before {
	content: "-"
}
