<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body style="font-family: sans-serif !important;">
<main>
  <h2>{{ .Site.Title }} 🇵🇸</h2>

  <style>
  main {
    max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;
  }
  li {
    list-style-type: "- ";
  }
  ul {
    padding:10px;
    margin: 0px;
  }
  p {
    margin-bottom: 3px;
  }
  small {
    color: #aaa;
    text-transform: lowercase;
  }
  a:visited {

    color: #00e;
  }
  nav a{
    text-decoration: none !important;
  }
    </style>
<header>
</header>
<div class="content">
{{- block "main" . }}{{ end }}
</div>
<br>
<p> Feel free to reach out on <a href="mailto:linguist.page@gmail.com">email</a>, or join our <a href="https://t.me/thearabicpage">telegram channel</a> </p>
<br>
</main>
</body>
</html>
