<!DOCTYPE html>
<html>

{{ partial "header.html" . }}

<body>
<main>


<header>
<h3 style="margin-bottom: 5px;"><a style="text-decoration: none; color:#040404;" href="{{ .Site.BaseURL }}"> {{ .Site.Title }}</a></h3>
<!--<small style="font-size: 10px;"> 🇩🇿🇧🇭🇰🇲🇩🇯🇪🇬🇮🇶🇯🇴🇰🇼🇱🇧🇱🇾🇲🇷🇲🇦🇴🇲🇵🇸🇶🇦🇸🇦🇸🇴🇸🇩🇸🇾🇹🇳🇦🇪🇾🇪</small>
<br> -->
<a style="font-size: 11px;" href="https://www.youtube.com/watch?v=RJaInV0klh4&pp=ygUNZ2F6YSBnZW5vY2lkZQ%3D%3D">🇵🇸 Free Palestine 🇵🇸</a>
</header>


<div class="content">

{{- block "main" . }}{{ end }}
</div>

</main>

<div style="width: 15%;">

</div>
</body>
</html>
