{{ define "main" }}
{{ .Content }}



<ul id=artlist style="direction: rtl !important;">
   {{- range (where .Site.RegularPages.ByTitle ".Params.book" "=" "true") -}}

  <li id="myarticles" class="older-article" style="direction: rtl !important;">
    <div class="mainlist">
      <a style="direction:rtl !important; text-align:right !important;" class="mainlink" href="{{ .RelPermalink }}">
        <h1>{{.Params.artitle }} </h1>
      </a>

      <small style="color: #0388a6; text-decoration: none; direction:rtl !important; text-align:right !important;"  class="mainlink" href="{{.Permalink}}">{{.Params.pubhouses}}</small>
    </div>
  </li>
  {{ end }}
</ul>


{{ end }}
