{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}



{{ partial "breadcrumbs.html" . }}
{{ partial "homesearch.html" . }}

<div id=artlist>
  {{- range.Pages.ByTitle }}

  <div id="myarticles" class="older-article">
    <div class="mainlist">
    <a class="mainlink" href="{{.Permalink}}">
        {{if .Params.link }}
 <p style="display: inline-block;"> <a href="{{ .Params.link }}">{{ .Params.title }} </a></p>
 {{else}}
 <p style="5px; display: inline-block;"> <a href="{{ .Permalink }}">{{ .Params.title }} </a></p>
 {{end}}

      </a>
      <small class="mainlink" id="mini">{{ .Params.lang}} ({{ len .Pages }}) </small>


    </div>
  </div>
  {{- end }}
</div>
{{- end }}{{/* end main */ -}}
