{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}

<style>
  ul,
  ol {
    list-style-type: "-";
  }

</style>


{{ partial "breadcrumbs.html" . }}
{{ partial "homesearch.html" . }}
{{ partial "menu.html" . }}


<ul id=artlist>
  {{- range.Pages.ByTitle }}

  <li id="myarticles" class="older-article">
    <div class="mainlist">
    <a class="mainlink" href="{{.Permalink}}">
        {{if .Params.image}}
        <img class="lazy authors__image" src="{{ .Params.image }}" alt="{{ .Params.name }}">
        {{ end }}
        {{if .Params.link }}
 <p style="margin: 5px; display: inline-block;"> <a href="{{ .Params.link }}">{{ .Params.title }} </a></p>
 {{else}}
 <p style="margin: 5px; display: inline-block;"> <a href="{{ .Permalink }}">{{ .Params.title }} </a></p>
 {{end}}

      </a>
      <small style="color: #777; text-decoration: none; " class="mainlink" id="mini">
        {{ .Params.Instructors}} </small>

        {{ if lt (.Params.Languages) .File.ContentBaseName}}
        <small style="color: #777; text-decoration: none; "> | {{.Params.Subjects}}</small>
        {{else}}
        <small style="color: #777; text-decoration: none; ">{{ .Params.Languages}}</small>
        {{end}}
        <small style="color: #777; text-decoration: none; ">
        {{ if lt (len .Pages) 2 }}{{ else }}{{ len .Pages}}{{ end }}
        </small>



      <!-- <small style="color: #777; text-decoration: none;" class="mainlink" id="mini">{{ .ReadingTime }}-mins Reading Time </small> -->
    </div>
  </li>
  {{- end }}
</ul>
{{- end }}{{/* end main */ -}}
