{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
{{ partial "breadcrumbs.html" . }}
{{ partial "homesearch.html" . }}
<div class="container" id="artlist">
  <table id="myarticles" class="item">
    <thead>
      <tr>
        <th>
          {{.Title}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{- range.Pages.ByTitle }}
      <tr id="searchable">
        <td>

            {{if .Params.link }}
              <a href="{{ .Params.link }}">{{ .Params.title }}</a>
              <small>{{ if lt (len .Pages) 2 }}{{ else }}({{ len .Pages}}){{ end }}</small>
            {{else}}
                <a href="{{ .Permalink }}">{{ .Params.title }}</a>
                <small>{{ if lt (len .Pages) 2 }}{{ else }}({{ len .Pages}}){{ end }}</small>
              {{end}}

          <small style="display: block;">
            {{if .Params.Subjects}} {{ .Params.Subjects}} | {{end}}
            {{if .Params.instructors}} {{ .Params.Instructors }} | {{ end }}
            {{if .Params.Languages}} {{ .Params.Languages }} | {{ end }}
            {{if .Params.Dialects}} {{ .Params.Dialects }}  {{ end }}
          </small>

        </td>

      </tr>
      {{- end }}
    </tbody>
  </table>
</div>
{{- end }}{{/* end main */ -}}
