{{ define "main" -}}
<hr>
{{ partial "breadcrumbs.html" . }}
<hr>
{{ .Content }}
<ul>
    {{- range.Pages.ByTitle }}
    <li>
      {{ if .Params.link }}
      <a href="{{ .Params.link}}">{{.Title}}</a>
      {{ else }}
      <a href="{{ .Permalink}}">{{.Title}}</a>
      {{ end }}
      <small>{{ if lt (len .Pages) 1 }}{{ else }}({{ len .Pages}}){{ end }}</small>
      <br>
      <sup> {{.Params.categories }} - {{.Params.dialects }} - {{.Params.subjects }} - {{.Params.instructors }}</sup>
    </li>
    {{ end -}}
  </ul>

{{- end }}
