{{- define "main" }}



{{ partial "breadcrumbs.html" . }}

{{ partial "homesearch.html" . }}


<div id=artlist>



  <table id="myarticles" class="item">

    <thead>
      <tr>
        <th>
          Title
        </th>
        <th> Info</th>

      </tr>
    </thead>
    <tbody>
      {{- $type := .Type }}
      {{- range $key, $value := .Data.Terms.Alphabetical }}
      {{- $name := .Name }}
      {{- $count := .Count }}
      {{- with site.GetPage (printf "/%s/%s" $type $name) }}
      <tr id="searchable">
        <td>
<a href="{{ .Permalink }}">{{ .Params.title }} </a>
        </td>
        <td>

{{ $count }}

          </td>
      </tr>
      {{- end }}
      {{- end }}
    </tbody>

  </table>








{{- end }}{{/* end main */ -}}
