
<footer style="text-transform: lowercase; direction: ltr; text-align: center; background: #fffefc;" class="post-footer">
  {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
  <ul style="padding-bottom: 4px !important;" class="post-tags">{{- range ($.GetTerms $tags) }}
    <li>
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    </li>
    {{- end }}
  </ul>
  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- if and (gt (len $pages) 1) (in $pages . ) }}
  {{- end }}
</footer>
