<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta charset="UTF-8">
<meta name="description" content="An indexed directory of Arabic Language learning resources">
<meta name="author" content="TheLinguist">

<!-- Basic Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arabic Page - Comprehensive Arabic Language Learning Resources</title>
  <meta name="description" content="Discover a categorized directory of Arabic language learning resources, suitable for all levels from beginner to advanced. Contribute and enhance the collection!">

  <!-- Open Graph Meta Tags for social media -->
  <meta property="og:title" content="Arabic Page - Comprehensive Arabic Language Learning Resources">
  <meta property="og:description" content="Discover a categorized directory of Arabic language learning resources, suitable for all levels from beginner to advanced. Contribute and enhance the collection!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://arabic.page">
  <meta property="og:image" content="https://en.wikipedia.org/wiki/Arabic#/media/File:Arabic_albayancalligraphy.svg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Arabic Page - Comprehensive Arabic Language Learning Resources">
  <meta name="twitter:description" content="Discover a categorized directory of Arabic language learning resources, suitable for all levels from beginner to advanced. Contribute and enhance the collection!">
  <meta name="twitter:image" content="https://en.wikipedia.org/wiki/Arabic#/media/File:Arabic_albayancalligraphy.svg">

  <!-- Additional SEO Tags -->
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="Learn Arabic, Arabic language resources, Arabic learning directory, Arabic courses, Arabic tutorials, Arabic books, Arabic apps, Arabic language">

  <!-- Favicon -->

  <!-- CSS and other resources -->



</head>

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8TE2SL73SC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8TE2SL73SC');
</script>
