<style>
  .triangle {
    background-image: url('/images/instructors/pal2.svg');
    background-size: cover;
    min-height: 75px;
    height: 75px;
  }
  .black, .black a {
    text-align: center;
    color: whitesmoke;
  }

  </style>
<div class="triangle">
<h3 class="black"><a style="display: inline-block; text-decoration: none;" href="{{ .Site.BaseURL }}"> FREE PALESTINE </a></h3>
<!--<small style="font-size: 10px;"> 🇩🇿🇧🇭🇰🇲🇩🇯🇪🇬🇮🇶🇯🇴🇰🇼🇱🇧🇱🇾🇲🇷🇲🇦🇴🇲🇵🇸🇶🇦🇸🇦🇸🇴🇸🇩🇸🇾🇹🇳🇦🇪🇾🇪</small>
<br> -->
<!--<a style="color: black; text-align: center; display: block; font-family: monospace" href="https://www.youtube.com/watch?v=RJaInV0klh4&pp=ygUNZ2F6YSBnZW5vY2lkZQ%3D%3D"> Free Palestine </a>-->

<br>
<small style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; margin: auto !important;">
  <a style="color: white; display: inline-block;" href="{{ .Site.BaseURL }}"> Home</a>&#160
  <a style="color: white; display: inline-block;" href="{{ .Site.BaseURL }}/instructors"> Instructors</a>&#160
  <a style="color: white; display: inline-block;" href="{{ .Site.BaseURL }}/languages">Languages</a>&#160
  <a style="color: white; display: inline-block;" href="https://t.me/thearabicpage">Telegram</a>
</small>
</div>
