<style>
a span {
  text-decoration: none !important;
}
</style>

<div style="font-size:12px; " class="main-nav">
  <a style="display: inline-block;" href="{{ .Site.BaseURL }}"> Home</a> |
  <a style="display: inline-block;" href="{{ .Site.BaseURL }}/instructors"> Instructors</a> |
  <a style="display: inline-block;" href="{{ .Site.BaseURL }}/languages">Languages</a> |
  <a style="display: inline-block;" href="{{ .Site.BaseURL }}/tags"> Tags</a> |
  <a style="display: inline-block;" href="https://t.me/thearabicpage">📢 Telegram</a> |
  <a style="display: inline-block;" href="mailto:linguist.page@gmail.com">📧 Contact</a>
</div>
