
<div class="container" id="artlist">
  {{- range.Pages.ByTitle }}
  <div id="myarticles" class="item">
    <div class="mainlist">
      <h4>
        <a id="{{ .File.ContentBaseName }}" style="width: 100%;" href="{{.Permalink}}">
          {{ .Title}}
        </a>
      </h4>
      <div>
        {{- range.Pages.ByTitle }}
        <div  style="list-style-type:none;" id="searchable">
          <div style="display: inline-block;">
            <a href="{{.Permalink}}">
              <div id="searchable" style="display: inline-block;">
                <p id="searchable" style=" display: inline-block;"> {{ .Params.title }}</p>
                <small style="display: inline-block; color: #777;"> &nbsp({{ len (where .Pages "Section" "!=" "") }}) </small>
              </div>
            </a>
          </div>
        </div>
        {{ end -}}
      </div>
    </div>
  </div>
  {{ end -}}
