<div class="container" id="artlist">
  {{- range.Pages.ByTitle }}
  <ul id="myarticles" class="item">
    <li>
      <a style="text-decoration: none; color: #040404; font-weight: 600;" id="{{.File.ContentBaseName}}" href="{{.Permalink}}">{{ .Title}}</a>
      {{- range.Pages.ByTitle }}
      <ul id="searchable">
        <li>
          <a id="searchable" href="{{.Permalink}}">{{ .Params.title }}</a>
          <small> ({{ len (where .Pages "Section" "!=" "") }}) </small>
          {{- range.Pages.ByParam "subjects" }}
          <ul id="searchable">
            <li>
              <div>
                {{if .Params.link }}
                <a href="{{ .Params.link }}">{{ .Params.title }}</a>
                <small>{{ if lt (len .Pages) 2 }}{{ else }}({{ len .Pages}}){{ end }}</small>
                {{else}}
                  <a href="{{ .Permalink }}">{{ .Params.title }}</a>
                  <small>{{ if lt (len .Pages) 2 }}{{ else }}({{ len .Pages}}){{ end }}</small>
                  {{end}}
                  <div>
                    {{if .Params.Subjects}}
                    <small class="meta">
                      {{ .Params.Subjects}}
                    </small>
                    {{end}}
                    {{if .Params.instructors}}
                    <small class="meta">
                      {{ .Params.Instructors }}
                    </small>
                    {{end}}
                    {{if .Params.Languages}}
                    <small class="meta">
                      {{ .Params.Languages }}
                    </small>
                    {{end}}
                    {{if .Params.categories}}
                    <small class="meta">
                      {{ .Params.Categories }}
                    </small>
                    {{end}}
                    {{if .Params.Dialects}}
                    <small class="meta">
                      {{ .Params.Dialects }}
                    </small>
                    {{end}}
                  </div>
              </div>
            </li>
          </ul>
          {{- end }}
        </li>
      </ul>
      {{ end -}}
    </li>
  </ul>
  {{ end -}}
</div>
