<div class="container" id="artlist">
  {{- range.Pages.ByTitle }}
  <ul id="myarticles" class="item">
    <li id="searchable">
      <h3 style="margin-bottom: 5px;">
      <a style="text-decoration: none; color: #040404; font-weight: 600;" id="{{.File.ContentBaseName}}" href="{{.Permalink}}">{{ .Title}}</a>
      </h3>

      {{- range.Pages.ByTitle }}

      <ul>

        <li>

          <div style="">
          <a style=" color: #040404;" href="{{.Permalink}}">{{ .Params.title }} </a>
          <small> ({{ len (where .Pages "Section" "!=" "") }}) </small>
          </div>

<!--
          {{- range.Pages.ByParam "subjects" }}

          <ul>
            <li>
              <div style="padding-bottom: 5px;">
                {{if .Params.link }}

                <a id="searchable" href="{{ .Params.link }}">{{ .Params.title }}</a>
                <small>{{ if lt (len .Pages) 2 }}{{ else }}({{ len .Pages}}){{ end }}</small>

                {{else}}
                  <a id="searchable" href="{{ .Permalink }}">{{ .Params.title }}</a>
                  <small>{{ if lt (len .Pages) 2 }}{{ else }}({{ len .Pages}}){{ end }}</small>
                  {{end}}

                  <div>
                    {{if .Params.Subjects}}
                    <small class="meta">
                      {{ .Params.Subjects}}
                    </small>
                    {{end}}
                    {{if .Params.instructors}}
                    <small class="meta">
                      {{ .Params.Instructors }}
                    </small>
                    {{end}}
                    {{if .Params.Languages}}
                    <small class="meta">
                      {{ .Params.Languages }}
                    </small>
                    {{end}}
                    {{if .Params.categories}}
                    <small class="meta">
                      {{ .Params.Categories }}
                    </small>
                    {{end}}
                    {{if .Params.Dialects}}
                    <small class="meta">
                      {{ .Params.Dialects }}
                    </small>
                    {{end}}
                  </div>
              </div>
            </li>
          </ul>

          {{- end }}
          -->

        </li>

      </ul>

      {{ end -}}

    </li>
  </ul>

  {{ end -}}
</div>
