{{ define "main" }}
{{ .Content }}
{{ partial "menu.html" . }}
{{ partial "homesearch.html" . }}



<ul class="container" id="artlist">
  {{- range.Pages.ByTitle }}
  <li id="myarticles" class="item">
    <div class="mainlist">
      <h4 style="width: 100%; padding: 5px;">
        <a id="{{ .File.ContentBaseName }}" style="width: 100%;" href="{{.Permalink}}">
          {{ .Title}}
        </a>
      </h4>
      <ul>
        {{- range.Pages.ByTitle }}
        <li  style="list-style-type:none;" id="myarticles" class="older-article">
          <div style="display: inline-block;" class="mainlist">
            <a href="{{.Permalink}}">
              <div style="display: inline-block;">
                <p style=" display: inline-block;"> {{ .Params.title }}</p>
                <small style="display: inline-block; color: #777;" class="mainlink" id="mini"> &nbsp({{ len (where .Pages "Section" "!=" "") }}) </small>
              </div>
            </a>
          </div>
        </li>
        {{ end -}}
      </ul>
    </div>
  </li>
  {{ end -}}
</ul>

<br>
<hr>
{{ if isset .Site.Taxonomies "tags" }}
	{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
	<div data-pagefind-ignore class="panel sidebar-menu">
		<div class="panel-heading">
			<h3 class="panel-title">Tags
			</h3>
		</div>
		<div class="panel-body">
			<ul class="tag-cloud center">
				{{ range $name, $items := .Site.Taxonomies.tags }}
						{{ $len := len $items }}
							&#160<li style=" font-size: 11px; display: inline-block;"><a href="{{ $.Site.BaseURL }}/tags/{{ $name | urlize | lower }}">{{ $name | title }} <span  style="color: #AAA;">({{ len $items }})</span></a> | </li>

				{{ end }}
			</ul>
		</div>
	</div>
	{{ end }}
{{ end }}

{{ end }}
