{{ define "main" }}
{{ .Content }}
<style>

  .container {
      --container-gap: 1rem;
      --container-item-width: 200px;
      column-gap: 0.5rem;
      column-fill: initial;
      column-width: var(--container-item-width);
  }

  .container > * {
      break-inside: avoid;
      margin-bottom: 10px;
  }

  @supports(grid-template-rows: container) {
      .container {
        display: grid;
        gap: 0.5rem;
        grid-template-rows: container;
        grid-template-columns: repeat(auto-fill, minmax(var(--container-item-width), 1fr));
        align-tracks: stretch;
      }

      .container > * {
          margin-bottom: initial;
      }
  }

  /* some styling not important */
  .container {
      background: white;
      padding: 0.1rem;
  }
  .item:nth-child(4n - 7) {
      background: #f4f4f4;
  }

  .item:nth-child(4n - 6) {
      background: #f4f4f4;
  }

  .item:nth-child(4n - 5) {
      background: #f4f4f4;
  }

  .item:nth-child(4n - 4) {
      background: #f4f4f4;
  }
  .item {
      color: white;
      padding:0.1rem;
  }







    .mainlist {
    padding-left: 5px;
  }

  ul,
  ol {
    list-style-type: none;
  }

  ul {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  h3,
  h2,
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .breadcrumbs {
    display: none;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .nvs li a {
    padding: 0 !important;
    text-decoration: none !important;
  }

  .en-ar {
    background: #040404;
    color: #fffefc;
  }

  .lexicon {
    background: #040404;
    color: #fffefc
  }

  img {
    margin-left: 5px;
  }
</style>
<!--<ul id="most-top" class="nvs"><li style="vertical-align: middle; width: 25%; border-right: 2px solid #040404;"><a href="#instructors">Instructors</a></li><li style="width:25%; border-right: 2px solid #040404;"><a href="#languages">Tongue</a></li><li style="width:25%; border-right: 2px solid #040404;"><a href="#subjects">Subjects</a></li><li style="width: 25%; border-right: 0px solid #040404;"><a  href="#dialects">Dialects</a></li></ul> -->

<h1 style="text-align: center; margin-bottom: 4px; margin-top:20px;">The عarabic Page</h1>
<p style="text-align: center; margin-top: 0px;">🇵🇸 Free Palestine 🇵🇸</p>

<!-- ############################### SEARCH FIELD ################################ -->
<div class="search js-only">
  <input type="text" id="search" placeholder="🔎 Search Instructors, Tongues, Subjects, or Dialects">
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    for (e of document.getElementsByClassName("js-only")) {
      e.classList.remove("js-only");
    }
    const posts = document.querySelectorAll("#artlist li");
    const search = document.getElementById("search");
    const oldheading = document.getElementById("myarticles");
    const clearSearch = document.getElementById("clear-search");
    const artlist = document.getElementById("artlist");
    search.addEventListener("input", () => {
      // grab search input value
      const searchText = search.value.toLowerCase().trim().normalize('NFD').replace(/\p{Diacritic}/gu, "");
      const searchTerms = searchText.split(" ");
      const hasFilter = searchText.length > 0;
      artlist.classList.toggle("list-searched", hasFilter);
      oldheading.classList.toggle("hidden", hasFilter);
      // for each recipe hide all but matched
      posts.forEach(recipe => {
        const searchString = `${recipe.textContent} ${recipe.dataset.tags}`.toLowerCase().normalize('NFD').replace(/\p{Diacritic}/gu, "");
        const isMatch = searchTerms.every(term => searchString.includes(term));
        recipe.hidden = !isMatch;
        recipe.classList.toggle("matched-recipe", hasFilter && isMatch);
      })
    })
    clearSearch.addEventListener("click", () => {
      search.value = "";
    })
    posts.forEach(recipe => {
      recipe.hidden = false;
      recipe.classList.remove("matched-recipe");
    })
    artlist.classList.remove("list-searched");
    oldheading.classList.remove("hidden");
  })
  // @license-end
</script>
<!-- ############################ ARABIC <> ENGLISH ICONS ################################### -->
<!-- <ul class="nvs" style="font-size: small !important; height: auto; border-bottom: 2px solid black;"><li class="en-ar" style="width: 50%; border-right: 2px solid black;"><a href="/">إنجليزيــ - عربيــ</a></li><li style="width: 50%; border-right: 0px solid black;"><a href="/arabic">عربيــ - إنجليزيــ</a></li></ul> -->
<!-- ############################## ENGLISH LIST ################################# -->
<div class="container">
  <div class="item">
    <h4 id="instructors" style="background: black; color: white; padding: 5px;">Para hispanohablantes 🇪🇸 <a style="color: white; text-decoration:underline white;" href="/instructors"> (Todo) </a>
    </h4>
    <ul id="artlist">
     {{- range.Pages.ByTitle }}
      <li id="myarticles">
        <div style="display: inline-block" class="mainlist">
              <a style="font-weight: bold;color: black !important; text-decoration: none !important;" class="mainlink" href="{{.Permalink}}">
                📚 {{ .File.ContentBaseName }}
              </a>
          <small style="display: inline-block;" >
            &nbsp &nbsp{{ len (where .Pages "Section" "!=" "") }} Courses
          </small>
          <ul>
            {{- range.Pages }}
            <li><div style="display: inline-block;"><a href="{{.Permalink}}">{{.Title}}</a></div>
              {{if .Params.types}}
            <small style="display: inline-block; color: #333;" > &nbsp {{.Params.types}}</small>
            {{end}}

              <ul>
                {{- range.Pages }}
                <li><div style="display: inline-block" ><a href="{{.Permalink}}">{{.Title}}</a></div></li>
                {{ end -}}
              </ul>
            </li>
            {{ end -}}
          </ul>
        </div>
      </li>
      {{ end -}}
    </ul>
  </div>
  <div class="item">
    <h4 id="languages" style="background: black; color: white; padding: 5px;">Für Deutschsprachige 🇩🇪 <a style="color: white; text-decoration:underline white;" href="/languages"> (Alle) </a>
    </h4>
    <ul id=artlist>
      {{- range (where .Site.Pages.ByTitle ".Params.type" "=" "language") -}}
      <li style="padding:0px margin:0px;" id="myarticles" class="older-article">
        <img style="display: inline-block;" class="lazy authors__image" src="{{ .Params.image }}" alt="{{ .Params.name }}">
        <div style="padding-top:10px; border-left: 1px solid #e5e5e5;display: inline-block;" class="mainlist">
          <a href="{{.Permalink}}">
            <div style=" margin-left: 5px; vertical-align: middle; display: inline-block;">
              <h3 style="padding-bottom:0px; margin-bottom:0px; line-height: 0.7;"> {{ .Params.title }}</h3>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> {{ len .Pages }} {{ if lt (len .Pages) 2 }}Course{{ else }}Courses{{ end }} </small>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> in {{.Params.lang}}</small>
            </div>
          </a>
        </div>
      </li>
      {{ end -}}
    </ul>
  </div>
  <div class="item">
    <h4 id="dialects" style="direction:rtl; text-align: right; background: black; color: white; padding: 5px;">اردو بولنے والوں کے لیے 🇵🇰 <a style="color: white; text-decoration:underline white;" href="/dialects"> (تمام) </a>
    </h4>
    <ul id=artlist>
      {{- range (where .Site.Pages.ByTitle ".Params.type" "=" "dialect") -}}
      <li style="padding:0px margin:0px;" id="myarticles" class="older-article">
        <div style="padding-top:10px; border-left: 1px solid #e5e5e5;display: inline-block;" class="mainlist">
          <a href="{{.Permalink}}">
            <div style=" margin-left: 5px; vertical-align: middle; display: inline-block;">
              <h3 style="padding-bottom:0px; margin-bottom:0px; line-height: 0.7;"> {{ .Params.title }}</h3>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> {{ len .Pages }} {{ if lt (len .Pages) 2 }}Course{{ else }}Courses{{ end }} </small>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> in {{.Params.lang}}</small>
            </div>
          </a>
        </div>
      </li>
      {{ end -}}
    </ul>
  </div>
  <div class="item">
    <h4 id="instructors" style="background: black; color: white; padding: 5px;">Türkçe konuşanlar için 🇹🇷 <a style="color: white; text-decoration:underline white;" href="/instructors"> (Tümü) </a>
    </h4>
    <ul id=artlist>
      {{- range (where .Site.Pages.ByTitle ".Params.type" "=" "instructor") -}}
      <li style="padding:0px margin:0px;" id="myarticles" class="older-article">
        <img style="display: inline-block;" class="lazy authors__image" src="{{ .Params.image }}" alt="{{ .Params.name }}">
        <div style="padding-top:10px; border-left: 1px solid #e5e5e5;display: inline-block;" class="mainlist">
          <a href="{{.Permalink}}">
            <div style=" margin-left: 5px; vertical-align: middle; display: inline-block;">
              <h3 style="padding-bottom:0px; margin-bottom:0px; line-height: 0.7;"> {{ .Params.title }}</h3>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> {{ len .Pages }} {{ if lt (len .Pages) 2 }}Course{{ else }}Courses{{ end }} </small>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> in {{.Params.lang}}</small>
            </div>
          </a>
        </div>
      </li>
      {{ end -}}
    </ul>
  </div>
  <div class="item">
    <h4 id="subjects" style="background: black; color: white; padding: 5px;">For English Speakers 🇬🇧 <a style="color: white; text-decoration:underline white;" href="/subjects"> (All) </a>
    </h4>
    <ul id=artlist>
      {{- range (where .Site.Pages.ByTitle ".Params.type" "=" "subject") -}}
      <li style="padding:0px margin:0px;" id="myarticles" class="older-article">
        <div style="padding-top:10px; border-left: 1px solid #e5e5e5;display: inline-block;" class="mainlist">
          <a href="{{.Permalink}}">
            <div style=" margin-left: 5px; vertical-align: middle; display: inline-block;">
              <h3 style="padding-bottom:0px; margin-bottom:0px; line-height: 0.7;"> {{ .Params.title }}</h3>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> {{ len .Pages }} {{ if lt (len .Pages) 2 }}Course{{ else }}Courses{{ end }} </small>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> in {{.Params.lang}}</small>
            </div>
          </a>
        </div>
      </li>
      {{ end -}}
    </ul>
  </div>
  <div class="item">
    <h4 id="dialects" style=" background: black; color: white; padding: 5px;"> Pour les francophones 🇫🇷 <a style="color: white; text-decoration:underline white;" href="/dialects"> (Tout) </a>
    </h4>
    <ul id=artlist>
      {{- range (where .Site.Pages.ByTitle ".Params.type" "=" "dialect") -}}
      <li style="padding:0px margin:0px;" id="myarticles" class="older-article">
        <div style="padding-top:10px; border-left: 1px solid #e5e5e5;display: inline-block;" class="mainlist">
          <a href="{{.Permalink}}">
            <div style=" margin-left: 5px; vertical-align: middle; display: inline-block;">
              <h3 style="padding-bottom:0px; margin-bottom:0px; line-height: 0.7;"> {{ .Params.title }}</h3>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> {{ len .Pages }} {{ if lt (len .Pages) 2 }}Course{{ else }}Courses{{ end }} </small>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> in {{.Params.lang}}</small>
            </div>
          </a>
        </div>
      </li>
      {{ end -}}
    </ul>
  </div>

  <div class="item">
    <h4 id="dialects" style="direction:rtl; text-align: right; background: black; color: white; padding: 5px;">اردو بولنے والوں کے لیے 🇵🇰 <a style="color: white; text-decoration:underline white;" href="/dialects"> (تمام) </a>
    </h4>
    <ul id=artlist>
      {{- range (where .Site.Pages.ByTitle ".Params.type" "=" "dialect") -}}
      <li style="padding:0px margin:0px;" id="myarticles" class="older-article">
        <div style="padding-top:10px; border-left: 1px solid #e5e5e5;display: inline-block;" class="mainlist">
          <a href="{{.Permalink}}">
            <div style=" margin-left: 5px; vertical-align: middle; display: inline-block;">
              <h3 style="padding-bottom:0px; margin-bottom:0px; line-height: 0.7;"> {{ .Params.title }}</h3>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> {{ len .Pages }} {{ if lt (len .Pages) 2 }}Course{{ else }}Courses{{ end }} </small>
              <small style="color: #777; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> in {{.Params.lang}}</small>
            </div>
          </a>
        </div>
      </li>
      {{ end -}}
    </ul>
  </div>
</div>
{{ end }}
