<small class="nvs">
<a href="/">عربي - إنجليزي </a> | 
<a href="/english">إنجليزي - عربي</a> | 
<a href="/التبويب">التبويب</a> | 
<a href="الكلمات_الدلالية/">الكلمات الدلالية</a> | 
<a href="/المترجمون">المترجمون</a> | 
<a href="/مصادر_الترجمة">مصادر الترجمة</a> | 
<a href="mailto:linguist.page@gmail.com">للتواصل</a></small>
  
<div class="search js-only">
  <input  style="direction: rtl !important; text-align: right !important; padding-right: 10px !important;" type="text" id="search" placeholder="البحث ... ">

</div>

<script>

document.addEventListener("DOMContentLoaded", () => {
  for (e of document.getElementsByClassName("js-only")) {
    e.classList.remove("js-only");
  }
  const posts = document.querySelectorAll("#artlist li");
  const search = document.getElementById("search");
  const oldheading = document.getElementById("myarticles");
  const clearSearch = document.getElementById("clear-search");
  const artlist = document.getElementById("artlist");

  search.addEventListener("input", () => {
    // grab search input value
    const searchText = search.value.toLowerCase().trim().normalize('NFD').replace(/\p{Diacritic}/gu, "");
    const searchTerms = searchText.split(" ");
    const hasFilter = searchText.length > 0;

    artlist.classList.toggle("list-searched", hasFilter);
    oldheading.classList.toggle("hidden", hasFilter);

    // for each recipe hide all but matched
    posts.forEach(recipe => {
      const searchString = `${recipe.textContent} ${recipe.dataset.tags}`.toLowerCase().normalize('NFD').replace(/\p{Diacritic}/gu, "");
      const isMatch = searchTerms.every(term => searchString.includes(term));

      recipe.hidden = !isMatch;
      recipe.classList.toggle("matched-recipe", hasFilter && isMatch);
    })
  })

  clearSearch.addEventListener("click", () => {
    search.value = "";
  })
    posts.forEach(recipe => {
      recipe.hidden = false;
      recipe.classList.remove("matched-recipe");
    })

    artlist.classList.remove("list-searched");
    oldheading.classList.remove("hidden");
})
// @license-end
</script>

<ul id=artlist>

{{- range (where .Site.RegularPages.ByTitle ".Params.unlisted" "!=" "true") -}}
<li  id="myarticles" class="older-article">

<div class="mainlist">
<a class="mainlink" href="{{.Permalink}}">{{.Title}}</a>
<hr class="mainhr">
<a class="mainlink" href="{{ .RelPermalink }}"> {{.Params.lexicons }} </a>
</div>


</li>
{{ end -}}


</ul>
<ul id=artlist>
{{ $number := 0 -}}
{{- range.Site.RegularPages -}}
{{- $number = add $number 1 -}}
<li data-tags="{{.Params.Tags}}" {{ if gt $number .Site.Params.indexarticles }}class="older-article"{{ end }}><a href="{{.Permalink}}">{{.Title}}</a></li>
{{ end -}}
</ul>
